.notaFiscal-container{ 
    border: 2px solid #1657b8;
    border-radius: 20px;
    width: 400px;
    padding: 20px;
    background: #1657b8;
}

body{
    display: flex;
    height: 100vh;
    justify-content: space-between;
    align-items: center;
    background-color: #E0E0E0E0;
}

.borda{
border-radius: 60px;
background-color: white;
}

.nota{
    color: white;
}
td,th{
    margin-top: 5px ;
    
}